.container {
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.imbt {
    height: 4vh;
    width: 1.6vw;
    opacity: 30%;
}

.image-container {
    width: 100%;
}