.container {
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    align-items: center;
    position: relative;
    display: flex;
}

.imbt {
    height: 4vh;
    width: 1.6vw;
    opacity: 30%;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    /* flex: 1 1 auto; */
}

.hidden {
    display: none;
}

.active {
    visibility: visible;
}

.dot {
    cursor: pointer;
}